@import url(https://fonts.googleapis.com/css?family=Karla);

h1, h2, h3 {
  font-family: 'Karla', 'Yanone Kaffeesatz', Helvetica;
  font-weight: normal;
  font-style: italic;
}

.superlarge { 
  font-size: 330%;
  font-family: 'Karla';
  font-style: italic;
}
.large { 
  font-size: 150%;
  font-family: 'Karla';
  font-style: italic;
}


.pull-left-small {
  float: left;
  width: 30%;
}
.pull-right-large {
  float: right;
  width: 60%;
}



.pull-left-large {
  float: left;
  width: 55%;
}
.pull-right-small {
  float: right;
  width: 45%;
}

a, a > code {
 text-decoration: underline; /* turns off background coloring of links */
 line-height: 1.5em;
}

body {
  line-height: 2.5em;
}


h1, h2, h3 {
  line-height: 1.5em;
}


/*.title-slide h1 {
  color: #F7F8FA;
}
.title-slide h2, .title-slide h3 {
  color: #e7e8e2; 
}*/

div.my-footer {
    background-color: #272822;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 20px;
    width: 100%;
}
div.my-footer span {
    font-size: 10pt;
    color: #F7F8FA;
    position: absolute;
    left: 15px;
    bottom: 2px;
}

div.figure {
  float: right;
  width: 100%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  font-weight: normal;
  text-indent: 0;
  margin: 0.5em;
  padding: 0.5em;
  tont-color; gray;
}